alembic
asyncpg
fastapi
uvicorn
sqlalchemy
httpx
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
argon2-cffi
python-jose[cryptography]
python-multipart
google-genai
redis
python-dotenv
structlog